@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ldm2jn');
  src:  url('../fonts/icomoon.eot?ldm2jn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ldm2jn') format('truetype'),
    url('../fonts/icomoon.woff?ldm2jn') format('woff'),
    url('../fonts/icomoon.svg?ldm2jn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e906";
}
.icon-thumbs-up:before {
  content: "\e901";
}
.icon-angle-double-down:before {
  content: "\e902";
}
.icon-angle-double-up:before {
  content: "\e903";
}
.icon-angle-double-right:before {
  content: "\e904";
}
.icon-angle-double-left:before {
  content: "\e905";
}
.icon-gear:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\1f30a";
}
.icon-pen:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-cog:before {
  content: "\e994";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-css3:before {
  content: "\eae6";
}

