* {
    margin: 0;
    padding: 0;
}
form {
    margin: 50px 50px 0;
    width: 700px;
    font-family: sans-serif;
}
label {
    font-size: 12px;
    display: inline-block; 
    width: 100px;
}
fieldset div {
    margin-bottom: 20px;
}
.help {
    margin-left: 50px;
    display: block;
    padding: 5px;
}
.tooltip {
    font-size: 14px;
    width: 240px;
    display: inline-block;
    opacity: hide;
    box-shadow: 0 0 3px 2px #999;
    border-radius: 3px;
}