
body {
  font-family: sans-serif;
  line-height: 25px;
}
.wrapper {
  width: 600px;
}
.header {
  text-align: center;
  margin: 20px 0;
}
.ul {
  list-style-type: none;
}
.submit {
  margin: 30px 0 0 200px;
  background-color: lightblue;
  padding: 10px 20px;
}