<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>exam</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/sprites.css">
	<!--[if (lt IE 9) & (!IEMobile)]>
		<link rel="stylesheet" href="css/ie8.css">
	<![endif]-->
</head>

<body>

	<div class="head">
		<div class="head_links">
			<button class="head_link">Log in</button>
			<button class="head_link">Sign up</button>
		</div>
		<h2 class="head_underheader">URLAUBSGLÜCK</h2>
		<h1 class="head_header">Share your<br>holiday dreams</h1>
		<p class="head_text">And find the perfect partner
		to fullfill it</p>
		<button class="head_find">Find your holiday partner</button>
	</div>
	
	<div class="wrapper">
	
		<div class="steps">
			<h1 class="steps-header">How Urlaubsglück works?</h1>
			<div class="slider">
				<ul class="slides">
					<li class="slide slide--1">
						<div class="slide_content">
							<span class="slide_step">step 1</span>
							<h1 class="slide_header">Sed leo enim,
							condimentum</h1>
							<p class="slide_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</li>
					<li class="slide slide--2">
						<div class="slide_content">
							<span class="slide_step">step 2</span>
							<h1 class="slide_header">Morbi velit risus</h1>
							<p class="slide_text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
					</li>
					<li class="slide slide--3">
						<div class="slide_content">
							<span class="slide_step">step 3</span>
							<h1 class="slide_header">Sed leo enim,
							condimentum</h1>
							<p class="slide_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="slider">
				<ul class="slides">
					<li class="slide slide--2">
						<div class="slide_content">
							<span class="slide_step">step 2</span>
							<h1 class="slide_header">Morbi velit risus</h1>
							<p class="slide_text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
					</li>
					<li class="slide slide--3">
						<div class="slide_content">
							<span class="slide_step">step 3</span>
							<h1 class="slide_header">Sed leo enim,
							condimentum</h1>
							<p class="slide_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</li>
					<li class="slide slide--1">
						<div class="slide_content">
							<span class="slide_step">step 1</span>
							<h1 class="slide_header">Sed leo enim,
							condimentum</h1>
							<p class="slide_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="slider">
				<ul class="slides">
					<li class="slide slide--3">
						<div class="slide_content">
							<span class="slide_step">step 3</span>
							<h1 class="slide_header">Sed leo enim,
							condimentum</h1>
							<p class="slide_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</li>
					<li class="slide slide--1">
						<div class="slide_content">
							<span class="slide_step">step 1</span>
							<h1 class="slide_header">Sed leo enim,
							condimentum</h1>
							<p class="slide_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</li>
					<li class="slide slide--2">
						<div class="slide_content">
							<span class="slide_step">step 2</span>
							<h1 class="slide_header">Morbi velit risus</h1>
							<p class="slide_text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>  <!--/steps-->
		
		<div class="partners">
			<h1 class="partners_header">Meet a partner for your
			best holiday</h1>
			<ul class="partners-box">
				<li class="partner">
					<div class="partner_img">
						<div class="partner_face partner_face--1"></div>
						<div class="partner_icon icon-tv"></div>
					</div>
					<h3 class="partner_header">Bradley Hunter</h3>
					<p class="partner_text">Based in Chicago. I love playing tennis and loud music.</p>
				</li>
				<li class="partner">
					<div class="partner_img">
						<div class="partner_face partner_face--2"></div>
						<div class="partner_icon icon-meashure"></div>
					</div>
					<h3 class="partner_header">Lucas Marsha</h3>
					<p class="partner_text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
				</li>
				<li class="partner">
					<div class="partner_img">
						<div class="partner_face partner_face--3"></div>
						<div class="partner_icon icon-coffee"></div>
					</div>
					<h3 class="partner_header">Heather Walker</h3>
					<p class="partner_text">I'm a happy person that loves cats and climbing on mountains.</p>
				</li>
				<li class="partner">
					<div class="partner_img">
						<div class="partner_face partner_face--4"></div>
						<div class="partner_icon icon-plane"></div>
					</div>
					<h3 class="partner_header">Bradley Hunter</h3>
					<p class="partner_text">Based in Chicago. I love playing tennis and loud music.</p>
				</li>
			</ul>
			<button class="partners_other">See other partners</button>
		</div><!--/partners-->
		
		<div class="gallery">
			<h1 class="gallery_header">Discover holiday activity ideas</h1>
			<div class="search">
				<div class="search_results">
				</div>
					<script type="text/templates" id="search_template">
						<div class="grid">
							<div class="grid-sizer"></div>
							<% for (var i = 0; i < 7; i++) { %>
							<div class="grid-item
							<%= (i==4 || i==5) ? " grid-item--width2" : "" %>">
								<img src="<%=data.hits[i].webformatURL%>"  class="grid_img">
								<div class="grid_text-field">
									<p class="grid_text">
										<%= data.hits[i].tags %>
									</p>
								</div>
							</div>
							<% }; %>
						</div>
					</script>
				<h1 class="search_header">Discover holiday activity ideas</h1>
				<p class="search_text">Hi! What are your holiday interests?</p>
				<input type="text" class="search_input" placeholder="Enter your interests">
				<button class="search_button">Search partners</button>
			</div>
		</div><!--/gallery-->
		
	</div><!--/wrapper-->
	
	<footer class="footer">
		<div class="footer_wrap">
			<h1 class="footer_header">URLAUBSGLÜCK</h1>
			<ul class="footer_list">
				<li class="footer_subheader">Company</li>
				<li class="footer_link"><a href="" >About</a></li>
				<li class="footer_link"><a href="">Contacts</a></li>
				<li class="footer_link"><a href="">Press</a></li>
				<li class="footer_link"><a href="">Blog</a></li>
			</ul>
			<ul class="footer_list"><li class="footer_subheader">Partners</li></ul>
			<div class="footer_designed">
				<p class="footer_subheader--designed">designed by</p>
				<img src="img/footer-logo.png" alt="">
			</div>
		</div>
	</footer>
	
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="js/dist/script.main.min.js"></script>
	
</body>

</html>