@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'league_gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
/*    position: relative;*/
    background: url(../img/bg.jpg) no-repeat;
    width: 2400px;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}
header {
    height: 278px;
}
.logo {
    float: left;
    margin-top: 70px;
    position: relative;
    font-size: 48px;
    font-family: league_gothic;
    color: white;
    text-shadow: 0px 1px 1px black;
    text-transform: uppercase;
}
.logo--purple {
    position: relative;
    left: -5px;
    background: linear-gradient(#745083, #322539);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}
.navigation {
    float: right;
    margin-top: 76px;
    font-size: 24px;
    font-family: league_gothic;
    text-shadow: 0px 1px 1px black;
    text-transform: uppercase;
}
.navigation_link {
    display: inline-block;
    margin-left: 52px;
    color: white;
    text-decoration: none;
}
.navigation_link:after {
    position: relative;
    display: inline-block;
    left: -20%;
    content: "";
    height: 2px;
    width: 140%;
    background-color: transparent;
}
.navigation_link:hover::after {
    background-color: #edbfff;
}
.slider-wrap {
    margin-left: -720px;
    width: 2400px;
    background: rgba(0,0,0,0.2);
}
.slider {
    position: relative;
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 400px;
    font-family: league_gothic; 
    color: white;
    text-shadow: 0px 1px 1px black;
} 
.slider_h {
    height: 64px;
    padding-top: 83px;
    font-size: 60px;
    width: 505px;
}
.slider_h2 {
    font-size: 32px;
    width: 505px;
    color: #edbfff;
}
.slider_text {
    font-size: 18px;
    font-family: open_sans;
    width: 505px;
}
.slider_iphone {
    position: absolute;
    top: -18px;
    right: 75px;
}
.slider_iphone-blur {
    position: absolute;  
    top: 60px;
    left: 620px;
}
.play {
    position: absolute;
    top: 142px;
    right: 147px;    
    width: 52px;
    height: 52px;
    background-color: rgba(237,191,255,0.8);
    border-radius: 100%;
    border: 1px solid white;
    box-shadow: 0 0 0 11px rgba(0,0,0,0.2);
}
.play_border {
    margin: -9px -9px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 5px solid #46324f;
/*    box-shadow: 0 0 0 3px rgba(0,0,0,0.2);*/
}
.play_button {
    margin-top: -67px;
    margin-left: 14px;
    font-size: 40px;
    text-shadow: none;
}
.shape-nav {
    position: absolute;
    bottom: -95px;
    right: 165px;
}
.shape-nav_box {
    position: relative;
}
.shape-nav_box_shape {
    display: inline-block;
    margin-left: 5px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: rgba(0,0,0,0.3);
}
.shape-nav_box_shape--white {
    position: absolute;
    top: 3px;
    left: 33px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: linear-gradient(#fff,#d4d4d4);
    border: 1px solid white;
    box-shadow: 0 0 5px white;
}

/*
.logo_dot {
    font-size: 8px;
      -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
       -o-transform: rotate(60deg);
    position: absolute;
    top: -6px;
    left: 14px;
    color: rgba(255,255,255,0);
    text-shadow: 0 0 1px #fff, 1px 1px 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #fff;
}*/
